<nav class="navb">
  <a class="menu-list" href="#">MENU</a>
  {% if 'user' not in session %}
  <a class=account href="#" data-toggle="modal" data-target="#login">GENERAR REPORTE DE VIOLENCIA</a>
  <a class=account href="#" data-toggle="modal" data-target="#login">INICIAR SESIÓN</a>
  <a class=account href="#" data-toggle="modal" data-target="#signup">REGISTRO</a>
  {% else %}
  <a class=account href="{{ url_for('reports') }}"">GENERAR REPORTE DE VIOLENCIA</a>
  <a class=account href="{{ url_for('logout') }}">CERRAR SESIÓN</a>
  <a class=account href="#" data-toggle="modal" href="#">{{ session['name'] }}</a>
  {% endif %}
  <a class=logo-header href="{{ url_for('index') }}"></a>
</nav>
