<div class="form-container">
  <p>Registrate en BeSafe para poder generar reportes</p>
  <form action="/sign_up" method="POST" class="d-flex flex-column form">
    <p>BeSafe</p>
    <p>Regístrate ahora!</p>
    <input type="text" placeholder="username" name="username" id="username" required />
    <input type="text" placeholder="email" name="email" id="email" onchange="emailValidation()" required />
    <input type="password" placeholder="password" name="password" id="password" required />
    <p id="check_pass"></p>
    <input type="password" placeholder="password again" name="verify" id="verify-password" required />
    <button id="signup" type="submit">REGISTRATE</button>
  </form>
</div>
