<div class="form">
  <form action="/sign_up" method="POST">
    <input type="text" placeholder="username" name="username" id="username" required>
    <input type="text" placeholder="email" name="email" id="email" onchange="email_validation()" required>
    <input type="password" placeholder="password" name="password" id="password" required>
    <p id="email_check"></p>
    <input type="password" placeholder="password again" name="verify" id="verify-password" required>
    <button type="submit">Create Account</button>
  </form>
</div>
