<div id="first" class="bg-reports">
  <div class="content">
    <h1>NUEVO REPORTE</h1>
    <h2>Selecciona acto de violencia</h2>
    <div class="d-flex flex-wrap mt-5">
      <!--
        Aqui se muestran los tipos de violencia
        las opciones deben llevar los attr-id asi como esta ahi y
        la clase chooseViolence que es para manejar el evento del click cuando seleccionen uno
      -->
      {% for violence in violences.values()|sort(attribute='name') %}
        <label class="label-report">
          <input type="radio" name="options" attr-id="{{ violence.idAlerttype }}" autocomplete="off" class="chooseViolence"> {{ violence.name }}
        </label>
      {% endfor %}
    </div>
    <div class="next mt-2">
      <a href="{{ url_for('index') }}" class="btn btn-danger">Cancelar</a>
      <button id="n-1" class="btn btn-primary">Siguiente</button>
    </div>
  </div>
</div>
