#mapSafe {
  margin: 0 !important;
  padding: 0 !important;
  position: static !important;
  height: 100%;
  width: 100%;
}
.leaflet-control-zoom {
  top: 100px;
}

.filter {
  background-color: hsl(286, 95%, 32%);
  text-align: center;
  position: absolute;
  width: 13rem;
  height: auto;
  padding-bottom: 25px;
  z-index: 2;
  top: 10%;
  right: 0;
  margin-right: 10px;
}
.filter p {
  font-size: .9rem;
  color: #FFF;
  margin: .3rem 0;
}
.filter button {
  border: none;
  border-top: 1px solid hsl(286, 95%, 32%);
  color: #FFF;
  /* padding: 0.65rem 0; */
  padding: 0.65rem 0;
  font-size: .7rem;
}
/* .filter .show {
  display: flex;
  flex-direction: column;
} */
.filter > * {
  margin: 0 1rem;
}
.filter p:first-child {
  margin-top: 0.4rem;
}
.cian {
  background-color: hsl(178, 53%, 60%);
  border-radius: .2rem;
}
.accordion .magen {
  display: block;
  width: 100%;
}
.magen {
  background-color: hsl(295, 79%, 36%);
}
.leaflet-pane {
  z-index: 0;
}
