.form-container {
  background: hsl(0, 0%, 20%);
  margin: 5rem auto;
  border: 1px solid;
  min-height: calc((100vh - 50px) / 1.5);
  width: 30%;
}
.form-container > p {
  text-align: center;
  color: #FFF;
}
.form-container p {
  margin-bottom: 0;
}
.form {
  background-color: #FFF;
  border: 1px solid;
  margin: .2rem 2rem;
  padding: 2rem;
}
.form input {
  margin-bottom: .8rem;
}
.form button, .form input[type=submit] {
  border: none;
  color: #FFF;
  background-color: hsl(178, 63%, 57%);
  padding: .4rem;
}
