/* .form-container {
  background: hsl(0, 0%, 20%);
  margin: 5rem auto;
  border: 1px solid;
  min-height: calc((100vh - 50px) / 1.5);
  width: 30%;
  z-index: 10;
} */
.form-container > p {
  text-align: center;
  color: #FFF;
}
.form-container p {
  margin-bottom: 0;
}
.form {
  width: 62%;
  margin: auto;
}
.form input {
  margin-bottom: .8rem;
}
.form button, .form input[type=submit] {
  border: none;
  color: #FFF;
  background-color: hsl(178, 63%, 57%);
  padding: .4rem;
}
.my-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .5);
}
