* {
  font-family: 'Anton', sans-serif;
}
.content {
  margin: 2rem auto;
  width: 90%;
}
.bg-reports {
  background-image: url('../images/back_reporte.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.bg-reports:first-child {
  left: 0;
}
.bg-reports:nth-child(2) {
  left: 100vw;
}
.bg-reports:nth-child(3) {
  left: 200vw;
}
.bg-reports:nth-child(4) {
  left: 300vw;
}
.bg-reports:nth-child(5) {
  left: 400vw;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  content: url('../images/tick_gray.svg');
  height: 4rem;
  width: 4rem;
}
input[type="radio"]:checked {
  content: url('../images/tick.svg');
}
.label-report {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 12rem;
}
.label-report input {
  align-self: center;
  margin: 1rem 0;
}
.label-report-2 {
  flex-basis: 7rem;
}
.label-report-2 input[type="radio"] {
  height: 2rem;
  width: 2rem;
}
.next {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.next button {
  margin-left: 2rem;
}
.hiddenForm {
  display: none;
}
input[type=text], input[type=textarea] {
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
}
.identity, .denuncia {
  width: 50%;
}
.identity {
  flex-wrap: wrap;
}
.denuncia {
  justify-content: center;
  text-align: center;
}
.identity label:first-child, .denuncia label:first-child {
  display: block;
  width: 100%;
}
.decription, #searchIdentity,
.stages, .barrio {
  width: 50%;
}
.cian {
  background-color: hsl(178, 53%, 60%);
  border: none;
  border-radius: .2rem;
  padding: .5rem 1rem;
  color: #FFF;
  display: none;
}
.cian:disabled {
  background-color: #adadad;
}
.ubication {
  margin-top: 2rem;
}
.submit {
  position: fixed;
  right: 5%;
  bottom: 14%;
}
